mixin appointList(appoints, msg)
    div
        h1 Appoint List Mixin

        if msg
            p #{msg}

        table(style='width:100%')
            tbody
                tr
                    th ID
                    th Teacher
                    th Class
                    th Room
                    th Start
                    th End
                    th Date
                    th Action 1
                    th Action 2
                each appoint in appoints
                    - const teacherLink = '/admin/teacher/' + appoint.teacherId
                    - const editLink = '/admin/appoint/' + appoint.id
                    - const deleteLink = '/admin/appoint/' + appoint.id + '/delete'

                    tr
                        th #{appoint.id}
                        th 
                            a(href=teacherLink) #{appoint.teacherName}
                        
                        th #{appoint.className}
                        th #{appoint.roomName}
                        th #{appoint.start}
                        th #{appoint.end}
                        th #{appoint.date}
                        th
                            a(href=editLink)
                                button Edit
                        th
                            form(action=deleteLink method='POST')
                                input(type='submit' value='Delete')