mixin appointEdit(appoint, teachers, classes, rooms, msg)
    div
        h1 Appoint Edit Mixins

        if msg
            p #{msg}

        - const editLink = '/admin/appoint/' + appoint.id + '/edit'
        form(action=editLink method='POST')

            label(for='teachers') Teacher: 
            select(name='teacherId' value=appoint.teacherId)
                for teacher in teachers
                    option(value=teacher.id) #{teacher.name} - ID: #{teacher.id}
            br

            label(for='classes') Class: 
            select(name='classId' value=appoint.classId)
                for Class in classes
                    option(value=Class.id) #{Class.name}
            br

            label(for='rooms') Rooms: 
            select(name='roomId' value=appoint.roomId)
                for room in rooms
                    option(value=room.id) #{room.name}
            br

            label(for='start') Start at: 
            input(type='time' name='start' value=appoint.start)
            br

            label(for='end') End at: 
            input(type='time' name='end' value=appoint.end)
            br

            label(for='date') Date: 
            input(type='date' name='date' value=appoint.date)
            br

            input(type='submit' value='Submit')
            br