mixin teacherAppoint(appoints, msg)
    div
        h1 Teacher Appoint Mixin

        if msg
            p Message: #{msg}

        table(style='width:100%')
            tbody
                tr
                    th ID
                    th Class
                    th Room
                    th Start
                    th End
                    th Date
                each appoint in appoints
                    tr
                        th #{appoint.id}
                        th #{appoint.className}
                        th #{appoint.roomName}
                        th #{appoint.start}
                        th #{appoint.end}
                        th #{appoint.date}