mixin view(user, msg)
    div
        h1 View Mixin

        if msg
            p Message: #{msg}

        - const picLink = '../../public/pics/save/' + user.pic
        img(src=picLink alt='profile_picture' width='250' height='250')
        br

        p ID: #{user.id}
        p Name: #{user.name}
        p Email: #{user.email}


        if user.type === 0
            p Role: Admin
        else
            p Role: Teacher